<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Controlador.srvUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>svrSupervisor</servlet-name>
        <servlet-class>Controlador.svrSupervisor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>svrSupervisor</servlet-name>
        <url-pattern>/svrSupervisor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>srvAdministrador</servlet-name>
        <servlet-class>Controlador.srvAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvAdministrador</servlet-name>
        <url-pattern>/srvAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvSesion</servlet-name>
        <url-pattern>/srvSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvGeneral</servlet-name>
        <url-pattern>/srvGeneral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvSeguridad</servlet-name>
        <url-pattern>/srvSeguridad</url-pattern>
    </servlet-mapping>
</web-app>
